/*drumkit*/

.drumkit{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
    top: 10%;
}

.pad{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 1 0 calc(33.333% - 20px);
    background: radial-gradient(rgb(179, 21, 21), rgb(63, 27, 27));
    border-radius: 10px;
}

.pad img{
    width: 150px;
    pointer-events: none;
}
/*drumkit*/


*{
    margin: 0;
    padding: 0;
}
body{
    background:  rgb(24, 20, 19);
    padding: 30px;
}

.header{
    height: 95vh;
    width: 95vw;
    position: relative;
}
.controls{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.button {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0%;
    right: 35%;
    margin: 4px;

    background-color: #d8dad8; 
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 10px;
    border-radius: 15px;
    
}


